<h2>@ViewBag.titulo.</h2>
<h3>@ViewBag.subtitulo</h3>

<address>
    <br/>@ViewBag.sobre<br />
    <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:" + @ViewBag.email>@ViewBag.email</a><br />
</address>